footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #fff0;
  color: white;
}

@media screen and (min-width: 2400px) {
	body {
		background-color: #505050;
		background-image: url('/prof/img/profileBack_2400x1800.png');
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
	}
}

@media screen and (max-width: 2399px) and (min-width: 1024px) {
	body {
		background-color: #505050;
		background-image: url('/prof/img/profileBack_1024x768.png');
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
	}
}
@media screen and (max-width: 1023px) and (min-width: 577px) {
	body {
		background-color: #505050;
		background-image: url('/prof/img/profileBack_600x450.png');
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
	}
}

@media screen and (max-width: 576px) and (min-width: 100px) {
	body {
		background-color: #505050;
		background-image: url('/prof/img/profileBack_150x133.png');
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
	}
}

@media screen and (max-width: 576px) {
	.glow-box-menu {
		padding-left: 20px;
	}
	.glow-box-coop-comm {
		max-width: 75%;
		font-size: small;
	}
}

.prj-heading {
	font-weight: bold;
}

.glow-box1 {
	width: max-content;
	margin: auto;
	background: transparent;
	margin-top: 50px;
	margin-bottom: 25px;
	box-shadow: 0px 0px 2px #fff, 
	inset 0px 0px 2px #fcfcfc, 
	0px 0px 5px #fff, 
	inset 0px 0px 5px #f7f7f7,
	0px 0px 5px white, 
	inset 0px 0px 5px white, 
	0px 0px 15px #fbfbfb, 
	inset 0px 0px 15px white, 
	0px 0px 50px #e5beff;
}

.glow-box2 {
	margin-top: 50px;
	box-shadow: 0px 0px 2px #fff, 
	inset 0px 0px 2px #fcfcfc, 
	0px 0px 5px #fff, 
	inset 0px 0px 5px #f7f7f7,
	0px 0px 5px white, 
	inset 0px 0px 5px white, 
	0px 0px 15px #fbfbfb, 
	inset 0px 0px 15px white, 
	0px 0px 50px #e5beff;
}

.glow-box-coop-comm {
	color: #fdffbc;
	background: #ffffff10;
	border-radius: 30px;
	padding: 20px;
	margin-top: 20px;
}

.row-strip:nth-of-type(even) > .glow-box-coop-comm {
	box-shadow: 0px 0px 15px #ffbaba;
}

.row-strip:nth-of-type(odd) > .glow-box-coop-comm {
	box-shadow: 0px 0px 15px #c7efff;
}
.glow-box-left {
	border-bottom-right-radius: 0px;
}

.glow-box-right {
	border-bottom-left-radius: 0px;
	margin-left: 20px;
	text-align: left;
}

.glow-box-menu {
	padding: 10px;
	max-width: min-content;
	background: #505050E0 !important;
	box-shadow: 0px 0px 2px #fff, 
	inset 0px 0px 2px #fcfcfc, 
	0px 0px 5px #fff, 
	inset 0px 0px 5px #f7f7f7,
	0px 0px 5px white, 
	inset 0px 0px 5px white, 
	0px 0px 15px #fbfbfb, 
	inset 0px 0px 15px white, 
	0px 0px 50px #e5beff;
}

.glow-text1 {
	font-size: xx-large;
	color: white; 
	text-shadow: 0px 0px 15px #fff,
	0px 0px 10px #9a6b0f,
	0px 0px 10px #8e5b0d,
	0px 0px 4px #ffcb00;
}

.glow-text2 {
	margin-bottom: 20px; 
	font-size: x-large;
	color: white;
	text-shadow: 0px 0px 75px #f6ff8b,
	0px 0px 15px #d8ff4b,
	0px 0px 50px #c5fc00,
	0px 0px 1px #c5fc00,
	0px 0px 1px #c5fc00,
	0px 0px 1px #c5fc00;
}

.active-link {
	text-shadow: 0px 0px 5px white;
	color: white !important;
}

.resume-link {
	color: wheat;
	text-align: center;
	max-width: max-content;
	margin: auto;
	text-shadow: 0px 0px 2px #ffa700,
	0px 0px 2px #000,
	0px 0px 5px #2b1e06,
	0px 0px 5px #ffa700;
	box-shadow: 0px 0px 5px #fff,
	0px 0px 5px #ffa802,
	0px 0px 15px #ffa802,
	inset 0px 0px 5px #ffa802,
	inset 0px 0px 10px #ffa802,
	0px 0px 20px #ffa802;
}
